<div class="attach-doc-header">
  <h2>Dokumente</h2>
  <div class="attach-button">
    <i class="fas fa-plus"></i>
    <i class="fas fa-file-alt fa-2x" id="add-document-btn"></i>
  </div>
</div>

<%= render 'components/attachment_doc_list', attachments: @attachments %>

<div class="attach-image-header">
  <h2>Bilder</h2>
  <div class="attach-button">
    <i class="fas fa-plus"></i>
    <i class="fas fa-images fa-2x" id="add-image-btn"></i>
  </div>
</div>

<%= render 'components/attachment_image_list', attachments: @attachments %>


<%= javascript_pack_tag 'attachmentUpload' %>
