<div class="attachments">
  <% @attachments.each do |a| %>
    <div class="attach-link">
      <%= link_to "#{a.name}", target: :_blank do %>
        <%= cl_image_tag(a.name, :width=>100, :height=>100, :gravity=>"east", :crop=>"fill") %>
        <br>
        <p># <%= a.id %></p>
      <% end %>
    </div>
  <% end %>
  <div class="stop-attach-float">
  </div>
</div>
