<div class="modal fade" id="deactivationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Bist du sicher, dass du diesen Eintrag deaktivieren möchtest?</h4>
        <h4>Ein deaktivierter Eintrag erscheint nicht mehr auf der Timline und kann nur noch von einem Administrator eingesehen werden.</h4>
        <div class="form-actions">
          <button class="btn btn-first-choice" data-dismiss="modal" aria-label="Close">
            Abbrechen
          </button>
          <%= link_to 'Deaktivieren', deactivate_path(entry), method: 'post', class: 'btn btn-second-choice'  %>
        </div>
      </div>
    </div>
  </div>
</div>
