<div class="container">
  <div class="navbar-wagon">
    <div class="navbar-icons">
      <%= render 'components/sidebar' %>
    </div>
    <div>
      <div class="dropdown">
        <i class="fas fa-sort-amount-down navbar-wagon-item" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Neuigkeiten zuerst</a></li>
          <li><a href="#">Nächste Termine</a></li>
          <li><a href="#">Letzte Termine</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
