<div class="container">
  <div class="navbar-wagon">
    <%= link_to entries_path do %>
      <i class="fas fa-bars navbar-wagon-item"></i>
    <% end %>
    <div>
      <div class="dropdown">
        <i class="fas fa-sort-amount-down navbar-wagon-item" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Neuigkeiten zuerst</a></li>
          <li><a href="#">Nächste Termine</a></li>
          <li><a href="#">Letzte Termine</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
