<div class="container">
  <div class="navbar-wagon">
    <div class="navbar-icons">
      <%= render 'components/sidebar' %>
    </div>
    <div>
      <% if user == current_user %>
        <div class="dropdown">
          <i class="fas fa-ellipsis-v navbar-wagon-item" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <div data-toggle="modal" data-target="#userModal">
              <li><a href="#">Profil Bearbeiten</a></li>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
