<div class="container">
  <h1>Kalender</h1>

  <h2>Monatsansicht</h2>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <br>
    <% x = date %>
    <% @entries = Entry.all %>

    <% @entries.select{ |e| e.date.to_date == x}.each do |s| %>
      <%= link_to s.title, entry_path(s.id) %>
    <% end %>
  <% end %>
</div>
