<%= render 'components/navbar_burger_only' %>
<div class="container">

  <%= month_calendar do |date| %>
    <%= date.day %>
    <br>
    <% @entries.select{ |e| e.date.to_date == date}.each do |s| %>
      <%= link_to s.title, entry_path(s.id) %>
      <br>
    <% end %>
  <% end %>
</div>
