<%= render 'components/entries_navbar' %>
<div class="container">
  <% actives = @entries.select { |e| e.deactivated == false } %>
  <% actives.each do |entry| %>
    <% if current_user.super_admin? %>
      <%= render 'components/card', entry: entry %>
    <% elsif entry.user.school_id == current_user.school_id %>
      <%= render 'components/card', entry: entry %>
    <% end %>
  <% end %>
</div>

<div class="fixed-floating-button" id= 'clicky-button' data-toggle="modal" data-target="#entryModal">
  <i class="fas fa-plus"></i>
</div>

<%= render 'components/entry_modal', entry: @entry, circles: @circles %>
