<%= render 'components/entries_navbar' %>
<div class="container">
  <% @entries.each do |entry| %>
    <%= render 'components/card', entry: entry %>
  <% end %>
</div>

<div class="fixed-floating-button" id= 'clicky-button' data-toggle="modal" data-target="#entryModal">
  <i class="fas fa-plus"></i>
</div>

<%= render 'components/entry_modal', entry: @entry %>
