body {
  background-color: white;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

p {
  font-size: 14px;
}

h2, h3, h4, h5, p {
  color: $letter-gray;
}

a {
  &:hover {
  text-decoration: none !important;
  }
}

.red-font {
  color: $brand-red;
}

.semi-bold-font {
  font-weight: 600;
}

.bold-font {
  font-weight: 700;
}

.small-top-bottom-margin {
  margin: 5px 0;
}

.italic-font {
  font-style: italic;
}

.btn-first-choice {
  background-color: $brand-red;
  color: white;
  font-size: 14px;
  padding: 4px 15px;
}

.btn-second-choice {
  color: $brand-red;
  font-size: 14px;
  padding: 4px 15px;
}

.btn-second-choice:hover {
  color: $brand-red;
  opacity: 0.8;
  text-decoration: none !important;
}

.btn-start-first-choice {
  background-color: white;
  color: $brand-red;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 15px;
  width: 100%;
  text-decoration: none;
}

.btn-start-second-choice {
  background-color: $brand-red;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.btn-start-second-choice:hover {
  opacity: 0.8;
  color: black;
  text-decoration: none !important;
}

.top-padding-15 {
  padding-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-30 {
  margin: 30px;
}

.inner{
  max-width: 1000px;

}
