body {
  background-color: $brand-red;
}

.landing-description h1, h2 {
  text-align: center;
  color: white;
  margin: 24px;
}

#login-logo {
  background-size: cover;
  width: 150px;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.login-form{
  max-width: 500px;
  margin-top: 100px;
}
