.simple-calendar {

  table {
    border: 2px solid $brand-red;
    border-color: $brand-red !important;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
  }

  td {
      padding: 6px;
      vertical-align: top;
      border: 2px solid #ddd;
      border-color: $brand-red;
      border-width: 2px;
      width: 14%;
      overflow: hidden;
  }

  tr {
      border-collapse: collapse;
  }

  a {
    color: $brand-red !important;
    font-weight: bold !important;
    font-size: 12px;
  }

  .calendar-heading {
    text-align: center;
    a {
      font-size: 16px;
    }
    .calendar-title {
      margin: 10px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .day {
    background: white;
    height: 12vh;
  }

  .today {
    font-weight: bold;
    color: black;
    background-color: rgba(168, 31, 63, 0.2);
  }
}
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month { }
  // .current-month {}

  // .has-events {}
  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}
  // .wday-5 {}
  // .wday-6 {}
