.entry-card {
  position: relative;
  border-bottom-style: solid;
  border-color: $brand-red;
  border-width: 1px;
  margin-top: 16px;
}

.entry-card a {
  text-decoration: none;
}

.entry-card:hover {
  background-color: rgba(166, 36, 65, 0.03);
}

.author-text {
  h4 {
    margin: 0
  }
}

.bookmark-icon {
  margin-right: 10px;
  color: $brand-red;
}

.entry-card-head {
  display: flex;
  justify-content: space-between;
}

#entry-card-date {
  font-style: italic;
}

.entry-card-link {
  margin: 10px 10px 0 5px;
}

.entry-card-link:hover {
  opacity: 0.8;
}

.card-foot {
  position: relative;
}

.card-foot-left {
  min-height: 25px;
  min-width: 10px;
}

.card-foot-right {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $brand-red;
  h4 {
    margin-left: 5px;
  }
}
