.entry-card {
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  position: relative;
  border-bottom-style: solid;
  border-color: $brand-red;
  border-width: 1px;
  margin-top: 16px;
}

.bookmark-icon {
  margin-right: 10px;
  color: $brand-red;
}

.entry-card-head {
  display: flex;
  justify-content: space-between;
}

#entry-card-date {
  font-style: italic;
}

.entry-card-link:hover {
  opacity: 0.8;
}
