.modal-header {
  border-bottom: none;
  padding: 0.5rem 0.5rem 0;
  button {
    color: $brand-red;
    opacity: 1;
    font-weight: 400;
  }
}

.modal-footer {
  border-top: none;
}

.modal-body {
  padding: 0 16px !important;
}

#entry_title, #entry_description, #entry_date_1i, #entry_date_2i, #entry_date_3i, #entry_location {
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 0.5px solid $brand-red;
  padding: 0;
}

.entry_date {
  border-bottom: 0.5px solid $brand-red;
}

.entry_time {
  margin-bottom: 3px;
  padding: 0;
}

.bottom-border {
  border-bottom: 0.5px solid $brand-red;
  margin-bottom: 1rem;
}

#entry_date_1i,
#entry_date_2i,
#entry_date_3i,
#entry_time_4i,
#entry_time_5i {
  font-size: 14px;
  border: none;
  box-shadow: none;
}

.form-control-label.white-form {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: $brand-red;
}

.form-control-label.red-form {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
