<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Passwort-Zur체cksetzen-Link angefordert. Du kannst dein Passwort 체ber den folgenden Link zur체cksetzen.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du kein neues Passwort angefordert hast ignoriere diese Email.</p>
<p>Dein Passwort wird nicht ver채ndert bis du ein neues festlegst.</p>
