<%= render 'components/navbar_burger_only' %>

<div class="container">
  <% if @archived_comments && @archived_comments.length > 0 %>
    <% @archived_comments.each do |comment| %>
      <%= render 'components/comment', comment: comment %>
    <% end %>
  <% else %>
    <div class="inner text-center margin-top-30">
      <h1 class="red-font">Das Archiv ist leer</h1>
    </div>
  <% end %>
</div>
