<%= render 'components/navbar_burger_only' %>
<div class="container">
  <div class="circle-header">
    <h2>Hier sind die bisher angelegten Kreise:</h2>
  </div>
  <div class="circle-list">
    <% @circles.each do |c| %>
      <%= link_to c do  %>
        <div class="row">
          <i class="far fa-circle"></i>
          <h3 class="semi-bold-font red-font"><%= c.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="fixed-floating-button" id= 'clicky-button' data-toggle="modal" data-target="#circleModal">
  <i class="fas fa-plus"></i>
</div>

<%= render 'components/circle_modal', circle: @circle %>
